<div class="comment-section">
  <div *ngIf="isLoggedIn()">
    <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
      <label for="comment">Add a Comment:</label>
      <textarea formControlName="content" placeholder="Write your comment here"></textarea>
      <button type="submit">Submit</button>
    </form>
  </div>
  <!-- <p>{{comments | json}}</p> -->
  <div *ngFor="let comment of comments.slice().reverse()">
    <p>{{ comment.Content }}</p>
    <small>By {{ comment.CommentAuthorName }} on {{ comment.CreadtedDate | date:'MMM d, y, h:mm a' }}</small>
  </div>
</div>
