<div class="comment-section">
  <div *ngIf="isLoggedIn()">
    <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
      <label for="comment">Add a Comment:</label>
      <textarea formControlName="content" placeholder="Write your comment here"></textarea>
      <button type="submit">Submit</button>
    </form>
  </div>
  <div *ngFor="let comment of comments">
    <p>{{ comment.Content }}</p>
    <small>By {{ comment.CommentAuthorName }} on {{ comment.CreatedDate | date:'medium'}}</small>
  </div>
</div>
