<div class="dashboard-header row mb-4">
	<div class="col">
		<h2>User Dashboard</h2>
	</div>
	<div class="col d-flex justify-content-end">
		<button class="btn btn-dark" (click)="openBlogForm()">Create Blog</button>
        <app-blog-create *ngIf="showBlogForm" (click)="getCategories()" (close)="closeBlogForm()"></app-blog-create>
	</div>
</div>
<div class="dashboard-container">
  <h2 class="text-white pb-2">Your Blogs</h2>
  <table class="table table-striped table-hover">
    <thead class="table-dark">
      <tr>
        <th>Sr. No.</th>
        <th>Title</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let blog of userBlogs; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ blog.Title }}</td>
        <td>
          <button class="btn btn-primary mx-2" (click)="editBlog(blog)">Edit</button>
          <button class="btn btn-danger mx-2" (click)="deleteBlog(blog.Id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <app-blog-create *ngIf="blogToEdit" [blogToEdit]="blogToEdit" (close)="blogToEdit = null"></app-blog-create>
</div>