html, body {
  height: 100%;
  margin: 0;
  overflow-y: auto;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
}

.hero-section {
  flex: 1;
  background-size: cover;
  overflow-y: auto;
}

.router-outlet {
  flex: 1;
  overflow-y: auto;
}
