/* General styles for the explore page */
.explore-page {
  padding: 20px;
  background-color: #f8f9fa;
}

.search-section {
  margin-bottom: 20px;
}

.search-bar {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.search-button,
.filter-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  margin-right: 10px;
}

.search-button:hover,
.filter-button:hover {
  background-color: #0056b3;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  height: 300px; /* Set a fixed height for uniform size */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card img {
  width: 100%;
  height: auto;
}

.card-body {
  padding: 20px;
  flex-grow: 1;
}

.card-title {
  font-size: 1.6rem;
  font-weight: bold;
  color: #333;
}

.card-subtitle {
  font-size: 1rem;
  color: #666;
  margin-bottom: 10px;
}

.card-text {
  font-size: 1rem;
  color: #666;
}

.blog-stats {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.blog-stats .like-count,
.blog-stats .comment-count {
  font-size: 1rem;
  color: #666;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.pagination-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  margin: 0 10px; /* Add margin to space buttons evenly */
}

.pagination-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
