<div class="search-section mb-4">
  <div class="filter-controls row justify-content-center align-items-center">
    <div class="col-12 col-md-auto mb-2 mb-md-0">
      <select class="filter-button form-control" [(ngModel)]="sortBy" (change)="searchBlogs()">
        <option value="CreatedDate">Created Date</option>
        <option value="Likes">Likes</option>
        <option value="Title">Title</option>
      </select>
    </div>
    <div class="col-12 col-md-auto mb-2 mb-md-0">
      <input
        type="text"
        class="search-bar form-control"
        placeholder="Search blogs..."
        [(ngModel)]="query"
        (input)="searchBlogs()"
      />
    </div>
    <div class="col-12 col-md-auto mb-2 mb-md-0">
      <button class="search-button btn btn-primary w-100" (click)="searchBlogs()">Search</button>
    </div>
    <div class="col-12 col-md-auto">
      <button class="filter-button btn btn-primary w-100" (click)="toggleSortDirection()">
        <!-- Sort: {{ sortDirection === "Asc" ? "Ascending" : "Descending" }} -->
        <!-- <i class="bi bi-sort-alpha-down"></i> -->
        <!-- <i class="bi bi-sort-alpha-up"></i> -->
        Sort: <i class="bi" [ngClass]="{'bi-sort-alpha-down': sortDirection === 'Asc', 'bi bi-sort-alpha-up': sortDirection !== 'Asc'}"></i>
      </button>
    </div>
  </div>
</div>

<div class="card-container">
  <div class="card" *ngFor="let blog of blogList" (click)="showContent(blog)">
    <img [src]="blog.FeaturedImageUrl" class="card-img-top" alt="Featured Image" />
    <div class="card-body">
      <h5 class="card-title">{{ blog.Title }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ blog.AuthorName }}</h6>
      <span class="badge">{{blog.CategoryName}}</span>
      <div class="blog-stats">
        <span class="like-count">
          <i class="bi bi-heart-fill"></i> {{ blog.LikeCount }}
        </span>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <span class="comment-count">
          <i class="bi bi-chat-text-fill"></i> {{ blog.Comments.length }}
        </span>
      </div>
      <p class="card-text">{{ blog.Description }}</p>
      
  </div>
</div>

<!-- Inside the floating card -->
<div class="floating-card" *ngIf="selectedBlog">
  <div class="card-content">
    <div class="card-body row justify-content-between">
      <div class="col-10">
        <h3 class="mb-2 card-title" style="font-size: 2rem;">{{ selectedBlog.Title }}</h3>
      </div>
      <div class="col d-flex justify-content-end">
        <button class="btn btn-dark" (click)="closeContent()">
          <i class="bi bi-x"></i>
        </button>
      </div>
    </div>
    <div class="mx-4">
      <div>
        <p>Published On: {{ selectedBlog.UpdatedDate | date }}</p>
      </div>
      <app-like [authorId]="userId" [blogPostId]="selectedBlog.Id" [likes]="selectedBlog.LikeCount"></app-like>
      <br />
      <h6 class="card-subtitle mb-2 text-muted">
        ~ by {{ selectedBlog.AuthorName }}
      </h6>
      <br />
      <div class="row">
        <div class="col">
          <div class="mx-3">
            <img [src]="selectedBlog.FeaturedImageUrl" class="img-fluid float-end me-3" alt="Featured Image"
              style="width: 300px;" />
          </div>
          <markdown [data]="selectedBlog.Content"></markdown>
        </div>
      </div>
      <hr />
      <h3>Comments:</h3>
      <app-comment [blogPostId]="selectedBlog.Id"></app-comment>
      <div class="share-buttons">
        <button class="btn btn-outline-primary me-2" (click)="share('facebook', selectedBlog)">
          <i class="bi bi-facebook"></i>
        </button>
        <button class="btn btn-outline-danger me-2" (click)="share('instagram', selectedBlog)">
          <i class="bi bi-instagram"></i>
        </button>
        <button class="btn btn-outline-info me-2" (click)="share('linkedin', selectedBlog)">
          <i class="bi bi-linkedin"></i>
        </button>
        <button class="btn btn-outline-secondary me-2" (click)="copyToClipboard(selectedBlog)">
          <i class="bi bi-clipboard"></i>
        </button>
      </div>
      
    </div>
  </div>
</div>

