<div class="loginCard">
	<div class="main">
		<input type="checkbox" id="chk" aria-hidden="true">
	
		<div class="register">
			<form [formGroup]="authorForm">
				<label for="chk" aria-hidden="true">Register</label>
				<input type="text" formControlName="Name" name="txt" placeholder="User name" required="">
				<input type="email" formControlName="Email" name="email" placeholder="Email" required="">
				<!-- <input type="password" name="pswd" placeholder="Password" required=""> -->
				<button (click)="onRegister()">Register</button>
			</form>
		</div>
	
		<div class="login">
			<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
				<label for="chk" aria-hidden="true">Login</label>
				<input type="text" formControlName="Name" name="txt" placeholder="User name" required>
				<input type="emali" formControlName="Email" name="email" placeholder="Email" required>
				<input type="password" formControlName="Password" name="pswd" placeholder="Password" required>
				<button type="submit">Login</button>
			</form>
		</div>
	</div>
</div>